@use '../components/collapsible.scss';
.rental {
  margin: 0 auto 2rem;
  max-width: 343px;
  & > * {
    width: 100%;
  }
  &__carrousel {
    height: 255px;
    background-color: gray;
    border-radius: 10px;
  }
  &__title {
    &--name {
      font-size: 18px;
    }
    &--location {
      font-size: 14px;
    }
  }
  &__host {
    &--name {
      font-size: 12px;
    }
    &--avatar {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background-color: gray;
    }
  }
  &__tags {
    &--list {
      margin: 0;
      display: inline;
    }
    &--tag {
      display: inline-block;
      width: 115px;
      background-color: #ff6060;
      border-radius: 10px;
      color: white;
      font-size: 14px;
      padding: 0.35rem;
      text-align: center;
    }
  }
  &__collapsibles {
    margin-top: 1rem;
    display: grid;
    row-gap: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .rental {
    max-width: 771px;
  }
}
@media screen and (min-width: 1200px) {
  .rental {
    max-width: 1171px;
  }
}
