.rental {
  margin: 0 auto 2rem;
  max-width: 343px;
  & > * {
    width: 100%;
  }
  &__header {
    display: grid;
  }
  &__aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__collapsibles {
    margin-top: 1rem;
    display: grid;
    row-gap: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .rental {
    max-width: 771px;
    &__collapsibles {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  .rental {
    max-width: 1171px;
    &__header {
      grid-template-columns: repeat(2, 1fr);
    }
    &__aside {
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: flex-end;
    }
  }
}
