.collapsible {
  background-color: #f7f7f7;
  border-radius: 0 0 5px 5px;
  &__summary {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 1rem 1rem 0 1rem;
    background-color: #ff6060;
    border-radius: 5px;
    h3 {
      margin: 0;
      font-size: 13px;
      color: white;
    }
    &::marker, &::-webkit-details-marker {
      display: none;
    }
    &:after {
      content: ' ';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="13px" height="20px"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="white" d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>');
      transform: rotate(90deg);
    }
  }
  &[open] &__summary {
    &:after {
      transform: rotate(-90deg);
    }
  }
  &__content {
    padding: 0 1rem 1rem;
    font-size: 12px;
  }
  &__list {
    list-style: none;
    padding-left: 0;
  }
}