.footer {
  width: 100%;
  background-color: black;
  div {
    margin: 3rem;
    text-align: center;
  }
  &__logo {
    width: 100px;
    margin: 0 auto;
  }
  &__copyright {
    color: white;
  }
}
