.footer {
  background-color: black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 100px;
  }
  &__copyright {
    color: white;
  }
}
