.header {
  margin: 1.5rem auto 1rem;
  max-width: 340px;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 145px;
  }
  &__links li {
    display: inline;
    font-size: 12px;
    text-transform: uppercase;
    &:first-child {
      margin-right: 0.5rem;
    }
  }
}
@media screen and (min-width: 800px) {
  .header {
    max-width: 770px;
    &__links li {
      font-size: 24px;
      text-transform: none;
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1170px;
  }
}
